{% extends "base.html" %}
{% block content %}
<div class="col-lg-12">
  <h1>{{ message }}</h1>
</div>
<div class="col-lg-12">
    <h2>What's In The Box</h2>
    <p>There's a ton of pre-packaged goodness in here for you. Here's the list:</p>
    <p>
        <ul>
            <li>Fully implemented <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> theme: <a href="http://bootswatch.com/readable/" target="_blank">Readable</a>.</li>
            <li>Over 250 <a href="http://getbootstrap.com/components/" target="_blank">glyphs</a> like this one <span class="glyphicon  glyphicon-tag" ></span> in font format from the Glyphicon Halflings set.</li>
            <li>Done-for-you drop-down menus just waiting for you to expand the app and your own urls.</li>
            <li>Custom favicon made from the Flask logo. Just replace it with yours.</li>
            <li>The latest version of <a href="https://jquery.com/" target="_blank">JQuery</a>: 2.2.3.</li>
            <li>The latest version of <a href="https://d3js.org/" target="_blank">D3.js</a>: 3.5.16</li>
            <li><a href="http://momentjs.com/" target="_blank">Moment.js</a> - so you can parse, validate, manipulate, and display dates in JavaScript.</li>
            <li><a href=" https://github.com/Eonasdan/bootstrap-datetimepicker" target="_blank">BootStrap DateTimePicker</a> - use this to make your datetime picker look super hot.</li>
            <li>Everything has been extracted from apps I've created for work and others.</li>
        </ul>
    </p>
    <p>Now get to customizing and enjoy!</p>
</div>
{% endblock %}